<ion-view view-title="Home">
<ion-content class="padding has-header" >
  <h1>Welcome</h1>
  <div class="card padding summary">
    <h4>Your spending goal for {{FromDate | date: 'MMMM'}} is:</h4>
    <input type="text" name="name" placeholder="$0.00" ng-model="spendGoal.budget_amt" class="spend-goal"><button ng-click="editGoal(spendGoal)"><i class="icon ion-compose"></i></button>

    <h5>Current total spent this month: ${{spendTotal}}</h5>
    <h5>Current budget fulfilment: {{(spendTotal/spendGoal.budget_amt) * 100 | number: 2}}%</h5>
    <div id="progress">
      <span id="percent">{{(spendTotal/spendGoal.budget_amt) * 100 | number: 2}}%</span>
      <div id="bar"></div>
    </div>

  </div>

  <div class="card padding transactions-summary">
    <div class="transactions-title">
      <h4>Posted Transactions</h4>
        Add a transaction<button ng-click="addTransPopup()"><i class="icon ion-plus"></i></button>

    </div>
    <div class="transactions" ng-repeat="transaction in transactions">
      <ion-list>
        <ion-item>
          <div  >
            <div class="info">
              <p>{{transaction.name}}</p>
              <p>{{transaction.category}}</p>
            </div>
            <div class="nums">
              <span class="item-note">${{transaction.amount}}</span>
              <span class="item-note">{{transaction.purchase_date}}</span>
            </div>
            <ion-option-button class="button-assertive" ng-click="editPopup({id: transaction.transaction_id})"><button class="ion icon-top ion-ios-compose-outline"> Edit</button></ion-option-button>
          </div>

        </ion-item>
      </ion-list>
      </div>
    </div>
  </div>

  <div class="card padding summary">
    <h4>View Your Spending</h4>
    <nvd3 options="options" data="data"></nvd3>
  </div>
  </ion-content>
</ion-view>
