<ion-view hide-nav-bar="true">
  <ion-content class="padding login has-header">
    <h1><i class="icon ion-card "></i></h1>
    <h1>PAM</h1>
    <h5>Your <span class="underline">P</span>ersonal <span class="underline">A</span>ccount <span class="underline">M</span>anager</h5>
    <h5 class="assertive">{{error}}</h5>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="email" ng-model="email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="password" required ng-model="password">
      </label>
    </div>
    <button class="button button-calm" ng-click='login(email,password)'><i class="icon ion-log-in"></i> Login</button>
    <button class="button button-calm" ng-click='getUser()'><i class="icon ion-log-in"></i> Somethin else</button>

    <p>Not registered?</p>
    <p>Sign up <span><a ui-sref="signUp">here</a></span>.</p>
  </ion-content>
</ion-view>
