
<ion-content class="padding login">
  <h1><i class="icon ion-card "></i></h1>
  <h1>PAM</h1>
  <h5>Your Personal Account Manager</h5>

  <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="username" ng-model="username">
    </label>
    <label class="item item-input">
      <input type="password" placeholder="password" required ng-model="password">
    </label>
  </div>
  <button class="button button-calm" ng-click="checkUser(username, password)"><i class="icon ion-log-in"></i> Login</button>

  <p>Not registered?</p>
  <p>Sign up <span><a ui-sref="signUp">here</a></span>.</p>
</ion-content>
