<ion-content class="padding center login">
  <h1>Account Settings</h1>
  <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Enter Current Password</span>
      <input type="text" placeholder="password" >
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Enter New Password:</span>
      <input type="text" placeholder="new" >
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Confirm New Password</span>
      <input type="text" placeholder="confirm" >
    </label>
  </div>

  <button class="button button-calm"><i class="icon ion-edit"></i> Submit Changes</button>

</ion-content>
