/* Empty. Add your own CSS if you like */
.login{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}

.underline{
  text-decoration: underline;
}

.header .col {
  background-color:lightgrey;
}

.row-item {
  border: solid 1px grey;
  border-bottom-style: none;
  border-right-style: none;
}

input.spend-goal{
  border: 1px solid #d4d4d4;
}

input {
  text-align: center
}

.popup-buttons {
  display: flex;
  flex-direction: column;
}

.transactions:last-child {
  border-bottom: none;
}

.transactions {
  border-top: 1px solid black;
}

#progress {
 width: 100%;
 border: 1px solid black;
 position: relative;
 padding: 3px;
}

#percent {
 position: absolute;
 left: 50%;
}

#bar {
 height: 20px;
 background-color: green;
 width: 0%;
}

.transcations {
  /*display: flex;
  justify-content: space-between;*/
}
.info{
  float: left;
}

.nums {
float: right;
display: flex;
flex-direction: column;
}
